{% extends "base.html" %}
{% load static %}
{% block page_header %}
{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="text-center mt-3">
    <h2>Cork International Hotel - Food Blog</h2>
    <hr class="mb-1 w-50 hr-heading">
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Posts -->
    <div class="col-md-8 offset-md-2 mt-3 center">
      {% for post in post_list %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title text-center">{{ post.title }}</h2>
            <p class="card-text text-muted h6 text-right">{{ post.author }} | {{ post.created_on}} </p>
            <p class="card-text">{{post.content|safe|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary order-btn">Read More &rarr;</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%endblock%}