{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text post-text">{{ post.content | safe }}</p>
      </div>
    </div>
    <div class="col-md-8 offset-md-2 card mb-4  mt-3">
      {% with comments.count as total_comments %}
        <div class="card-body pb-0">
          <p class="text-left mb-0">
            {{ total_comments }} comment(s)
          </p>
        </div>
      {% endwith %}
      <div class="card-body">
        <!-- Comments -->
        {% for comment in comments %}
          <div class="comments">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class="text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
            <hr class="w-50 hr-heading">
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 offset-md-3 card mb-4  mt-3">
      <div class="card-body">
        {% if new_comment %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
          </div>
        {% else %}
          <h3>Leave a comment</h3>
          <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary order-btn btn-lg">Submit</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}