{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Items</h2>
                <hr class="mb-1 w-50 hr-heading">
            </div>
        </div>
        <div class="row">
            <div class="items-container col-12 col-sm-10 offset-sm-1">
                {% for item in items %}
                    <div class="card mt-2 col-12 col-sm-10 offset-sm-1">
                        <div class="card-body">
                            <h5 class="text-center card-title">{{ item.name }}</h5>
                            <hr>
                            <p class="card-text">{{ item.description }}</p>
                            <div class="row text-muted">
                                <div class="col-4">Allergens: {{ item.allergens }}</div>
                                <div class="col-4">Price: €{{ item.price }}</div>
                                <div class="col-4">
                                    {% if item.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ item.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- iframe -->
                            <iframe class="iframe" frameborder="0" src="{{ item.id }}">"></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    
{% endblock %}