{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h3><strong>Cork International Hotel Now Offers Takeaway Service!</strong></h3>
            <h4>Register With Us For Regular Discounts of up to 20%!</h4>
            <h4>{{ discount_percentage }}% Off on Orders over €{{ discount_threshold }}</h4>
            <a class="order-btn btn btn-warning mt-3 btn-lg text-uppercase" href="#" role="button"><strong>Order Now</strong></a>
            <a class="info-btn btn btn-warning btn-lg mt-3 text-uppercase" href="#" role="button"><strong>Tell Me More</strong></a>
        </div>
    </section>
{% endblock %}