{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h3><strong>Cork International Hotel Now Offers Takeaway Service!</strong></h3>
            <h4>Register With Us For Regular Discounts of up to 20%!</h4>
            <h4>10% Off on Orders over €50</h4>
            <a class="order-btn btn btn-warning btn-lg text-uppercase" href="#" role="button"><strong>Order Now</strong></a>
            <a class="info-btn btn btn-warning btn-lg text-uppercase" href="#" role="button"><strong>Tell Me More</strong></a>
        </div>
    </section>
{% endblock %}