html {
    height: 100%;
}

body {
    height: 100%;
    color: #101820;
    font-family: 'Lato';
    background-color: #f2aa4c;
}

.text-dark {
    color: #101820 !important;
}

/* Navbar */
.navbar {
    background-color: rgba(16, 24, 32, .9);
}

.nav-link, .logo-font {
    color: #f2aa4c !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo-font {
    width: fit-content;
}

.navbar-toggler-icon {
    background-color: #f2aa4c !important;
    border-radius: 4px;
}

.dropdown-menu {
    background-color: #f2aa4c;
    color: #101820;
}

.dropdown-item:hover {
    color: #f2aa4c;
    background-color: #101820;
}

/* Hero image, zoom and order button */
#hero-outer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 100%;
  width: 100%;
  background: url("/media/hero-image.jpg") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#cover-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#cover-text > h3,h4{
    color: #f2aa4c;
    background-color: rgba(16, 24, 32, 0.8);
    margin: 5px auto;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

.order-btn {
    background-color: #f2aa4c;
    color: #101820;
    border: 2px solid #101820;
    margin-top: 20px;
}

.order-btn:hover {
    background-color: #101820;
    color: #f2aa4c;
    border: 2px solid #101820;
}

.info-btn {
    color: #f2aa4c;
    background-color: #101820;
    border: 2px solid #101820;
    margin-top: 20px;
}

.info-btn:hover {
    color: #101820;
    background-color: #f2aa4c;
    border: 2px solid #101820;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hr-heading {
    border-top: 2px solid #101820;
}

.iframe-div {
    background-color: white;
    height: 100%;
    width: 100%;
}

/* Search bar */
.form-control {
    border: 1px solid #101820;
}

.search-btn {
    background-color: #f2aa4c;
}

/* Categories & sorting */
a.category-badge > span.badge {
    color: #101820 !important;
    border: 2px solid #101820;
}

a.category-badge > span.badge:hover {
    background: #101820 !important;
    color: #f2aa4c !important;
}

