html {
    height: 100%;
}

body {
    height: 100%;
    color: #101820;
    font-family: 'Lato';
    background-color: #f2aa4c;
}

.text-dark {
    color: #101820 !important;
}

/* Navbar */
.navbar {
    background-color: rgba(16, 24, 32, .9);
}

.nav-link, .logo-font {
    color: #f2aa4c !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.bag-icon > div {
    width: 100%;
    height: 100%;
}

.nav-icons {
    padding: 0;
}

.nav-icons:hover {
    text-decoration: none;
}

.nav-icons > div:hover {
    color: white;
}

.logo-font {
    width: fit-content;
}

.navbar-toggler-icon {
    background-color: #f2aa4c !important;
    border-radius: 4px;
}

.dropdown-menu {
    background-color: #f2aa4c;
    color: #101820;
}

.dropdown-item:hover {
    color: #f2aa4c;
    background-color: #101820;
}

/* Hero image, zoom and order button */
#hero-outer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 100%;
  width: 100%;
  background: url("/media/hero-image.jpg") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#cover-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#cover-text > h3, #cover-text > h4{
    color: #f2aa4c;
    background-color: rgba(16, 24, 32, 0.8);
    margin: 5px auto;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

.order-btn {
    background-color: #f2aa4c;
    color: #101820;
    border: 1px solid #101820;
}

.order-btn:hover {
    background-color: #101820;
    color: #f2aa4c;
    border: 1px solid #101820;
}

.info-btn {
    color: #f2aa4c;
    background-color: #101820;
    border: 1px solid #101820;
}

.info-btn:hover {
    color: #101820;
    background-color: #f2aa4c;
    border: 1px solid #101820;
}

.allauth-form-inner-content a {
    color: black !important;
}

.allauth-form-inner-content a:hover {
    color: white !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hr-heading {
    border-top: 2px solid #101820;
}

.iframe-div {
    background-color: white;
    height: 100%;
    width: 100%;
}

/* Search bar */
.form-control {
    border: 1px solid #101820;
}

.search-btn {
    background-color: #f2aa4c;
}

/* Categories & sorting */
a.category-badge > span.badge {
    color: #101820 !important;
    border: 2px solid #101820;
}

a.category-badge > span.badge:hover {
    background: #101820 !important;
    color: #f2aa4c !important;
}

/* Back to top btn */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #101820;
}

.btt-button:hover {
    border: 3px solid #101820;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

/* Keep shopping btn */
.btn-outline {
    border: 1px solid #101820;
}

.btn-outline:hover {
    font-weight: 700;
    background-color:rgba(16, 24, 32, 0.3)
}

.bag-row {
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #101820;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    border: 1px solid #101820;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* / Toast */

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Media Queries */

/* Up to Medium devices (landscape tablets, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Up to Large devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    #cover-text {
        top: 20%;
    }
}

/* Up to XL devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}