{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- CSS -->
    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Scripts -->
    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Cork International Hotel - Takeaway Service {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-light">
            <!-- App name -->
            <a href="{% url 'home' %}" class="navbar-brand">
                <h3 class="font-weight-bold my-0 logo-font">CIH Takeaway</h3>
            </a>
            <!-- Dropdown button -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Items
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'items' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                        <a href="{% url 'items' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                        <a href="{% url 'items' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'items' %}" class="dropdown-item">All Items</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Drinks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'items' %}?category=wines" class="dropdown-item">Wines</a>
                        <a href="{% url 'items' %}?category=beers" class="dropdown-item ">Beers</a>
                        <a href="{% url 'items' %}?category=cocktails" class="dropdown-item ">Cocktails</a>
                        <a href="{% url 'items' %}?category=soft_drinks" class="dropdown-item ">Soft Drinks & Waters</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'items' %}?category=wines,beers,cocktails,soft_drinks" class="dropdown-item">All Drinks</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'items' %}?category=desserts">Desserts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dishes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'items' %}?category=starters" class="dropdown-item">Starters</a>
                        <a href="{% url 'items' %}?category=mains" class="dropdown-item ">Mains</a>
                        <a href="{% url 'items' %}?category=vegan" class="dropdown-item ">Vegan Options</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'items' %}?category=starters,mains,vegan" class="dropdown-item">All Dishes</a>
                    </div>
                </li>
                </ul>
            </div>
            <!-- Profile, Search  & bag -->
            <div class="col-12 col-md-6 my-auto py-1 py-sm-0">
                <ul class="list-inline list-unstyled text-center text-md-right  my-0">
                    <!-- Search Bar -->
                    <li class="list-inline-item">
                        <form class="form-inline" method="GET" action="{% url 'items' %}">
                            <div class="input-group w-100">
                                <input class="form-control" type="text" name="q" placeholder="Search items">
                                <div class="input-group-append">
                                    <button class="form-control btn search-btn btn-black" type="submit">
                                        <span class="icon">
                                            <strong><i class="fas fa-search"></i></strong>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <!-- Profile links -->
                    <li class="list-inline-item dropdown">
                        <a class="text-black mx-3 nav-icons nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping bag -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info nav-icons font-weight-bold{% else %}text-black{% endif %} mx-3 nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <span><i class="fas fa-shopping-bag fa-lg"></i>&nbsp;
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <!-- Messages container -->
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    <!-- Any extra header content -->
    {% block page_header %}
    {% endblock %}

    <!-- Main content block -->
    {% block content %}
    {% endblock %}

    <!-- Additional JS -->
    {% block postloadjs %}
    {% endblock %}
</body>
</html>